html, body, #root{
  min-height: 100vh !important;
  height: 100vh;
  overflow: hidden;
}


.container{
  display: flex;
  flex-direction: row;
  font-family: roboto;
  height: 100vh;
  
}

.left{
  background-color: teal;
  min-height: 100%;
  flex: 0 0 25vw;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
} 


.right{
  background-color: #eee; /*orangered;*/
  min-height: 100vh;
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



@media all and (max-width: 800px){
  html,body,#root{
    overflow: visible;
  }
  .container{
    flex-direction: column;
    height: auto;
  }
  .left{
    height: 100%;
    flex: 1 1 320px; /** flex-basis is subject to change */
    display: flex;
  }
}


