.my-panel{
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
  }
  
  .my-panel h1{
    margin: 0;
    font-size: 20px;
    padding: 10px 2px;
    
  }
  .my-panel p{
    padding: 0;
    margin: 0 0 15% 0;
    font-size: 16px;
  }
  .img-rounded{
    border-radius: 50%;
    width: 65%;
    max-width: 170px;
  }
  

  @media all and (max-width:800px){
    .my-panel{
      padding-top: 5%;
      padding-bottom: 0;
      flex: 0 1 100%;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }